@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
}

.background-main-container {
  width: 100vw;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: -10;
  overflow: hidden;
}

.background-container {
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

/* .icon-god-container,
.icon-devil-container {
  width: 50vw;
  height: auto;
  overflow: hidden;
} */

.icon-god-big-left,
.icon-devil-big-left,
.icon-god-big-right,
.icon-devil-big-right {
  width: auto;
  height: 550px;
  opacity: 0.07;
}

.icon-god-big-left,
.icon-devil-big-left {
  transform: rotate(90deg);
  /* transform: rotate(90deg) scale(0.9) translate(50px, 80px); */
}

.icon-god-big-right,
.icon-devil-big-right {
  transform: rotate(-90deg);
  /* transform: rotate(-90deg) scale(1.1, 1.15) translate(-150px, 210px); */
}

.header-container {
  background-color: #ececec;
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-size: 14px;
  font-weight: 600;
}

.game-container {
  width: 260px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-container {
  width: 100%;
  height: 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

button {
  border: none;
}

button:focus {
  outline: 0;
}

.button-box {
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

/* .button-value {
  font-size: 60px;
  color: white;
} */

.gray {
  background-color: #ececec;
}

.icon {
  width: auto;
  height: 70px;
  transform: translateY(3px);
}

.darker {
  /* width: auto;
  height: 70px; */
  /* transform: translateY(3px); */
  filter: brightness(50%);
}

.icon-animation {
  /* width: auto;
  height: 70px; */
  /* transform: translateY(3px); */
  animation: animate-icon 1s infinite;
}

@keyframes animate-icon {
  0% {
    transform: translateY(3px) scale(1);
  }
  25% {
    transform: translateY(3px) scale(0.9);
  }
  50% {
    transform: translateY(3px) scale(1.3);
  }
  75% {
    transform: translateY(3px) scale(0.9);
  }
  100% {
    transform: translateY(3px) scale(1);
  }
}

.message {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.credit {
  width: 100vw;
  font-size: 14px;
  padding: 25px 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
}

.bottom-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.button-reset {
  width: 58%;
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
}

.player-god-devil {
  width: 18%;
  border: 2px solid black;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
}

.icon-small {
  width: auto;
  height: 30px;
  transform: translateY(3px);
}

.button-reset:hover,
.player-god-devil:hover {
  color: red;
  border: 2px solid red;
}

.button-reset:active,
.player-god-devil:active {
  color: black;
  border: 2px solid black;
}
